/*
li:matches(:nth-child(even), .target) {
  background-color: blue;
}


li:not(.target){
	background-color:red;
}


:root {
	--awesomeColor: 1px solid #2980b9;
}

li:first-child a {
	border: var(--awesomeColor);
}

@custom-selector :--headers h1, h2, h3, h4, h5, h6;

:--headers {
  color: #8e44ad;
}




main {
  background-color: blue;
  & section {
    background-color: red;
    width: 500px;
    & li {
      background-color: yellow;
      width: 400px;
      & a {
        color: black;
        &:hover {
          font-size: 30px;
        }
      }
    }
  }
}

a {
  color: red;
}


*/

@custom-media --ipad-size (width < 850px);

@media (--ipad-size) {
  body {
    background-color: red;
  }
}

h1 {
	color: #f1c40f;
}

h1:hover {
	color: color-mod(#f1c40f blackness(50%));
}






